<template>
  <div id="app">
    <NavBar />
    <UserTable />
  </div>
</template>

<script>
import NavBar from './components/Navbar.vue'
import UserTable from './components/UserTable.vue'
export default {
  components: {
    NavBar, 
    UserTable
  }
}
</script>

<style>
</style>
