<template>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">Database Changer</span>
        <form class="form-inline">
            <select v-model="mySelectedProfile" class="form-control">
                <option v-for="profile in profileArray" :value="profile" :key="profile.serverName">
                    {{profile.displayName}}
                </option>
            </select>
        </form>
    </nav>
</template>

<script>
import axios from 'axios';
import {mapActions, mapState} from 'vuex';

export default {
    methods: {
        ...mapActions(["setProfiles", "setSelectedProfile"])
    },
    computed: {
        ...mapState(["profileArray", "selectedProfile"]),
        mySelectedProfile: {
            get: function() {
                return (this.selectedProfile);
            },
            set: function(newProfile) {
                this.setSelectedProfile(newProfile);
            }
        }
    },
    mounted() {
        axios.get("http://localhost:7070/profiles").then(response => {
            this.setProfiles(response.data);
        });
    }
}
</script>

<style scoped>

</style>