<template>
    <div class="margin-top">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">User Name</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in userArray" :key="user.id">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios';
import {mapActions, mapState} from 'vuex';
export default {
    methods: {
        ...mapActions(["setUsers"])
    },
    computed: {
        ...mapState(["userArray", "selectedProfile"])
    },
    mounted() {
        axios.get(`http://${this.selectedProfile.ipAddress}:${this.selectedProfile.port}/users`).then(response => {
            this.setUsers(response.data);
        });
    }
}
</script>

<style scoped>
    .margin-top {
        margin-top: 5%;
    }
</style>